body {
    background-color: #dbd2e0;;
}

.contact-titles {
    color: #273b09;
    margin-left: 2%;
}

.first-title {
    margin-top: 2%;
}

.team {
    display: flex;
    justify-content: space-around;
}

.member {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.member img {
    width: 250px;
    border-radius: 5%;
    height: 400px;
}