.result {
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
}

.result::before {
    content: "";
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 1px;
    background-color: black;
}

.result-title {
    color: #273b09;
    text-align: center;
}

.result-1 {
    display: flex;
    justify-content: space-around;
    text-decoration: solid;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 2px;
    text-decoration-color: #7b904b;
}

.result-1 h2{
    
    margin-left: 60px;
    margin-right: 60px;
}

.result-2 {
    width: 100%;
    text-align: center;
}